<configuration>
    <runtime>
        <assemblyBinding
        xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="calc-new-version"
                                  publicKeyToken="4d518880d6acc75d"
                                  culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0"
                                    newVersion="1.0.0.0"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>                                    