<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>test1</title>
</head>
<body>

    <p>Number1 = @ViewBag.num1</p>
    <p>Number2 = @ViewBag.num2</p>
    <p>Sum = @ViewBag.sum</p>
</body>
</html>