<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>test2</title>
</head>
<body>
    <form action="./test2" method="post">
        <input type="text" name="num1" />
        <input type="text" name="num2" />
        <button type="submit">Add</button>
    </form>
    <p>
        @ViewBag.sum
    </p>
</body>
</html>